extends templates/layout
include mixins/mixinVideo

block content
  h1 Movies!
  a(href=":id")
      each movie in movies
        +videoBlock({
          title:movie.title,
          id:movie.id
        })