.videoPlayer {
  position: relative;
  display: flex;
}
.videoPlayer:hover .videoPlayer__controls {
  opacity: 1;
}
.videoPlayer video {
  max-width: 100%;
  justify-content: center;
}
.videoPlayer .videoPlayer__controls {
  opacity: 0;
  transition: opacity 0.4s linear;
  color: white;
  position: absolute;
  z-index: 9;
  bottom: 5px;

  width: 650px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 16px;
}
.videoPlayer .videoPlayer__controls .videoPlayer__column:first-child {
  display: flex;
  align-items: center;
}
.videoPlayer
  .videoPlayer__controls
  .videoPlayer__column:first-child
  span:first-child {
  margin-right: 10px;
}
.videoPlayer .videoPlayer__controls .videoPlayer__column:last-child {
  justify-self: end;
  margin-right: 30px;
}
.videoPlayer .videoPlayer__controls .videoPlayer__column:nth-child(2) {
  justify-self: center;
}
.videoPlayer .videoPlayer__controls .videoPlayer__column input {
  justify-self: end;
  width: 300px;
}
.videoPlayer .videoPlayer__controls i {
  font-size: 14px;
  cursor: pointer;
}
