extends template/layout
include mixins/movieBlock

block content
    if movies === []
      h3 404 NOT FOUND
    a(href="/create") Upload

    div
      each movie in movies
        +movieBlock({
            id:movie.id,
          title:movie.title
        })
